.background {
    background-image: url("../images/background.jpeg");
    color: rgb(10, 10, 10);        
}

.contents-r1-c1 {
    /* border: 4px dotted white; */
    background: none;
    font-family: 'Bodoni MT Black';
    text-align:center;
    color: white;
    margin:5px;
    margin-left: 50px;
    height: 10px;
}

.button-wrapper{
    /* border: 4px dotted white; */
    width:650px;
    height:50px;
    /* display:none; */
    color:white;
    font-size:38px;
}
.contents-r1-c3 {
    /* border: 4px dotted white; */
    background: none;
    font-family: 'Bodoni MT Black';
    text-align: right;
    color: white;
    /* margin:5px; */
    margin-top: 80px;
    height: 10px;
    padding: 2px
}

.contents-r2-c1 {
    /* border: 4px dotted white; */
    background: none;
    font-family: 'Bodoni MT Black';
    text-align: left;
    color:  white;
    font-size: 38px;
    /* margin:1px; */
    margin-left:10px;
    height: 200px;
    margin-top: 200px;
    padding: 5px;
}

.contents-r2-c2 {
    /* border: 4px dotted white; */
    background: none;
    font-family: 'Bodoni MT Black';
    text-align: left;
    color:  white;
    font-size: 38px;
    /* margin:1px; */
    margin-left:10px;
    height: 200px;
    margin-top: 200px;
    padding: 5px;
}

.contents-r3-c1 {
    /* border: 4px dotted white; */
    background: none;
    font-family: 'Bodoni MT Black';
    text-align: left;
    color:  white;
    font-size: 38px;
    /* margin:1px; */
    margin-left:10px;
    height: 220px;
    margin-top: 40px;
    padding: 5px;
}

#start-button {
    width:110px;
    height:25px;
    /* display:none; */
    color:green;
    font-size:30px;
}

#start-time {
    /* border: 8px dotted white; */
    background: none;
    font-family: 'Bodoni MT Black';
    text-align: left;
    color: white;
    font-size: 38px;
}

#start-time-red {
    
    background: none;
    font-family: 'Bodoni MT Black';
    text-align: left;
    color: red;
    font-size: 38px;
   
}
   
